<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Spartan&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="./style.css">
	<title>Email</title>
</head>
<body>
	<table>
		<tr>
			<td style="padding-bottom: 1.4rem">
				Dear <%= name %> 
			</td>
		</tr>
		<tr>
			<td></td>
		</tr>
		<tr>
			<td style="padding-bottom: 1rem">
				Thanks for contacting us. This project is only for learning purpose.
				You can check out the code in this
				<a href="https://github.com/akosklema/arch-email-service">
					link
				</a>.
			</td>
		</tr>
		<tr>
			<td style="padding-bottom: 0.8rem">
				Your message was:
			</td>
		</tr>
		<tr>
			<td style="padding-bottom: 1.4rem">
				<%= message %>
			</td>
		</tr>
		<tr>
			<td style="padding-bottom: 1rem">
				I hope liked the page
			</td>
		</tr>
		<tr>
			<td>Akos Klemanovits</td>
		</tr>
	</table>
</body>
</html>